/*
Theme: Bit Podcast
Description: Based on Ticket. A theme that cuts to the chase, made for Anchor CMS. Uses Anchor to its full potential.
Demo: http://demo.anchorthemes.com/ticket
Author: David Darnes
Author URI: http://david.darn.es
Licence: http://licence.visualidiot.com
*/

// Mixins
$links: #c43f3c;
$title: #f8393a;
$backgrounds: #fffaff;
$corners: 5px;

// Prefix Mixins
@mixin transition($transition: .2s) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -o-transition: $transition;
  -ms-transition: $transition;
  transition: $transition;
}

@mixin border-radius($corners: 3px) {
  -webkit-border-radius: $corners;
  -moz-border-radius: $corners;
  -o-border-radius: $corners;
  border-radius: $corners;
}


// Globals
body {
  font-family: 'Podkova', serif;
  background: $backgrounds url('../images/bg_bit.jpg') center;
  background-size: cover;
}
a {
  color: lighten($links, 5%);
  &:hover {
    color: darken($links, 5%);
  }
  &:active {
    color: darken($links, 15%);
  }
  &.active {
    color: fadeout($links, 50%);
  }
}
.button {
  float: left;
  line-height: 1em;
  @include transition(.2s);
  background: $links;
  color: $backgrounds;
  text-shadow: 0 1px 0 darken($links, 10%);
  padding: .65em 1em;
  border-radius: $corners;
  &:hover {
    background: darken($links, 10%);
    color: $backgrounds;
  }
  &:active {
    color: $backgrounds;
    background: darken($links, 20%);
  }
}

// On Page sections
.logo a {
  color: fadeout($title, 40%);
  &:hover {
    color: fadeout($title, 10%);
  }
}
section {
  background: $backgrounds;
  text-shadow: 0 1px 0 lighten($backgrounds, 50%);
  section {
    background: none;
  }
}

// Selection
::selection {
  background: $links; // Safari
  color: $backgrounds;
  text-shadow: none;
}
::-moz-selection {
  background: $links; // Firefox
  color: $backgrounds;
  text-shadow: none;
}

// Media
audio {
  @include border-radius($corners);
  background: $links;
  float: left;
  width: 300px;
  margin: 0 13px 20px 0;
}

//Borders
article, footer, [class*="author-"], .comments, form, aside {
  border-top-color: darken($backgrounds, 2%);
}

//Footer
.credit {
  line-height: 1.8em;
}
