<header class="header">
  <div class="container">
    <div class="content  content--aside-left">

      {% for page in site.posts limit: 1 %}
        <article class="article  article--post  typeset">

          <h2><a href="{{ page.url }}" title="{{ page.title }}">{{ page.title }}</a></h2>
          {% include post-meta.html %}
          {% include audio.html %}
          {{ page.excerpt | markdownify | truncatewords: 60 }}
          {% include button.html text="Download" link=page.file %}

        </article>
      {% endfor %}

    </div>
  </div>
</header>
